<h2>Visualizza dettagli corso</h2>

<div class="row">
    <div class="col-md-3"><b>Materia ID</b></div><div class="col-md-3">{{SubjectDetails.materiaId}}</div>
</div>
<div class="row">
    <div class="col-md-3"><b>Titolo</b></div><div class="col-md-3">{{SubjectDetails.denominazione}}</div>
</div>
<div class="row">
    <div class="col-md-3"><b>Crediti</b></div><div class="col-md-3">{{SubjectDetails.crediti}}</div>
</div>
<div class="row">
    <div class="col-md-3"><b>Semestre</b></div><div class="col-md-3">{{SubjectDetails.semestre}}</div>
</div>
<div class="row">

    <div class="col-md-3"><b>Anno</b></div><div class="col-md-3">{{SubjectDetails.anno }}</div>
</div>
<div class="row">
    <div class="col-md-3"><b>Nome</b></div><div class="col-md-3">{{SubjectDetails.nome}}</div>
</div>
<div class="row">
    <div class="col-md-3"><b>Cognome</b></div><div class="col-md-3">{{SubjectDetails.cognome}}</div>
</div>

