<h1>Benvenuto</h1>
<p>Benvenuto nella Portale Studenti</p>
<p>Cosa funziona:</p>
<ul>
   <li>Visualizza Studenti (Generale e dettaglio per ID), Ricerca, Elimina</li>
   <li>Aggiungi Studente</li>
    <li>Visualizza corsi (Generale e dettaglio per ID), Ricerca, Elimina </li>
    <li>Aggiungi Corso</li>
    <li>Visualizza Materie, Elimina, Dettaglio</li>
</ul>

<p>Gli studenti sono  collegati a un corso, quindi verrà anche visualizzato il corso a cui sono iscritti.</p>
<p>Le materie sono legate a un professore, quindi verrà visualizzato anche lui nel dettaglio materia</p>
<p>L'inserimento dello studente è funzionante, il modifica, dopo aver aggiunto campi come la Data, presenta qualche problema</p>
